@import "style.css";

/**
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}


main {
  background: #a9a19e;
}

#fab131; orange box, pil #f17949; */
/*
footer {
  background: #777574;
}
*/

.grid-container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 380px 68px 1292px 680px 68px 340px;
  grid-template-areas:
    "header" "nav" "main" "section1"
    "section2" "footer";

  min-width: 1000px;
}

header {
  background: #c7ddea;
  background-repeat: no-repeat;
  background-image: url("../images/img-papa-and-baby.svg");
  background-position: bottom right;
  background-position-y: 47px;
  background-position-x: 85%;
}

header h1 {
  margin-top: 0;
}

.box1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.main {
  height: fit-content;
  background: #a9a19e;
}

#contact-message {
  height: 150px;
  padding: 10px;
}

input[type="text"] {
  border: none;
  margin: 0;
  padding: 10px;
}

label {
  font-size: 10px;
  color: #4d4b4b;
  display: block;
  margin-bottom: 5px;
}

section {
  background-image: url(../images/img-map.png);
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-light-grey {
  color: #dad8d8;
}
.bgr-white {
  background-color: #fff;
}

.font-medium {
  font-size: 13px;
}
.font-large {
  font-size: 1em;
}
.width-100 {
  width: 100%;
}

.roboto_c {
  font-family: "Roboto Condensed", sans-serif;
}

.contact-form input[type="button"] {
  float: right;
}
